.title{
	font-family: "Comic Sans MS";
	font-size: 20px;
}

.menu{
	font-family: "Comic Sans MS";
}

.sub-title{
	padding-left: 20%;
	padding-right: 20%;
	font-family: "Comic Sans MS";
}


.photos{

}

#footer{
	font-family: "Comic Sans MS";
}
	