.title{
	font-family: "Comic Sans MS";
	font-size: 20px;
}

.menu{
	font-family: "Comic Sans MS";
}

.subshit{
	font-family: "Comic Sans MS";
	margin-left: 30%;
	margin-right: 30%;
}

.text{
	font-family: "Comic Sans MS";
	margin-left: 30%;
	margin-right: 30%;
}


#footer{
	font-family: "Comic Sans MS";
}
	