.title{
	font-family: "Comic Sans MS";
	font-size: 20px;
}

.menu{
	font-family: "Comic Sans MS";
}

.memberlist{
	margin-left: 30%;
	margin-right: 30%;
	font-family: "Comic Sans MS";
}


.table-center{
	margin-left: 30%;
	margin-right: 30%;
	font-family: "Comic Sans MS";
}

#footer{
	font-family: "Comic Sans MS";
}
	